body {
  background-color: #d9e4dd;
  color: #555555;
  font-family: "Press Start 2P", cursive;
}

.container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  justify-content: start;
}

#header {
  grid-column: 2/-2;
  justify-content: left !important;
}

#connection-status {
  height: 10px;
  width: 10px;
  grid-column: 2/2;
  justify-self: center;
  align-self: center;
  border-radius: 100%;
  background-color: red;
}

.online {
  background-color: green !important;
}

#user-name {
  grid-column: 3/7;
  font-size: 10px;
}

#user-room {
  grid-column: 8/-2;
  font-size: 10px;
}

#output-screen {
  height: 400px;
  grid-column: 2/-2;
  overflow: scroll;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

#message-box {
  grid-column: 2/-5;
  height: 30px;
  font-family: "Press Start 2P";
  font-size: 10px;
}

#send-btn {
  grid-column: -5/-2;
  justify-self: start;
  font-family: "Press Start 2P";
}

#reset-btn {
  grid-column: 2/3;
  height: 30px;
  font-size: 8px;
  font-family: "Press Start 2P";
}

#share-btn {
  grid-column: 3/4;
  height: 30px;
  font-size: 8px;
  font-family: "Press Start 2P";
}

.chat {
  font-size: 10px;
  font-weight: 100;
}

.received-chat {
  color: #f5b461;
}

.sent-chat {
  color: #fd5b3e;
}

@media screen and (max-width: 600px) {
  .chat {
    font-size: 8px;
  }
}
